<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="要了卿命的猪.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <要了卿命的猪.Properties.Settings>
            <setting name="Width" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Pignum" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Mark" serializeAs="String">
                <value>True</value>
            </setting>
        </要了卿命的猪.Properties.Settings>
    </userSettings>
</configuration>